/* LARGEUR DE LA FENÊTRE PRINCIPALE - CHOIX DES CRITÈRES */

@media screen and (min-width: 1580px) {
	.formulaire, .bandeau_resultats, .resultats_recherche_globale {width:1500px; }
}

@media screen and (min-width: 1200px) and (max-width: 1580px) {
	.formulaire, .bandeau_resultats, .resultats_recherche_globale {width:1200px; }
}

@media screen and (min-width: 912px) and (max-width: 1200px) {
	.formulaire, .bandeau_resultats, .resultats_recherche_globale {width:912px; }
}

@media screen and (min-width:510px) and (max-width: 912px) {
	.formulaire, .bandeau_resultats, .resultats_recherche_globale {width:100%; }
}

@media screen and (max-width: 510px) {
	.formulaire, .bandeau_resultats, .resultats_recherche_globale {width:90%;padding-left:5%;padding-right:5%;}
}

/* LARGEUR DE LA FENÊTRE PRINCIPALE - MODIFICATIONS */

@media screen and (min-width: 912px) {
	.modif_citation, .modif_oeuvre, .modif_projet {width:912px; }
}

@media screen and (min-width:510px) and (max-width: 912px) {
	.modif_citation, .modif_oeuvre, .modif_projet {width:100%; }
}

@media screen and (max-width: 510px) {
	.modif_citation, .modif_oeuvre, .modif_projet {width:90%;padding-left:5%;padding-right:5%;}
}


/* LARGEUR DES COLONNES DE CHOIX DES TAGS */

@media screen and (min-width: 510px) {
	.tags {	columns: 250px;}
}


/* HAUTEUR DU LOGO */

@media screen and (min-width: 805px) {	
	.logo {	max-height:80px;}
}

@media screen and (min-width: 550px) and (max-width: 805px) {	
	.logo {	max-height:50px;}
}

@media screen and (max-width: 550px) {	
	.logo {	max-height:35px;}
}

/* MARGES MENU */

@media screen and (min-width: 552px) {	
	header input, header a {margin:10px 6px 10px 6px;}
}


/* HAUTEUR DU MENU */

@media screen and (min-width: 805px) {	
	.margin-top-cause-menu {height: 140px;}
}

@media screen and (min-width: 550px) and (max-width: 805px) {	
	.margin-top-cause-menu {height: 109px;}
}

@media screen and (max-width: 550px) {	
	header {height:130px;}
	.margin-top-cause-menu { height: 130px; }
}


/* MENUS MOINS UTILES */

@media screen and (max-width: 805px) {	
	.menu_nouvelle, .menu_a_propos {height:0px;width:0px;opacity:0%;}
}

/* BARRE DE RECHERCHE */

@media screen and (max-width: 805px) {	
	.menu_barre_recherche {	background-color:#F5F5F5;opacity:50%;}
	.menu_chercher {padding-left:15px;}
}

@media screen and (max-width: 550px) {	
	.menu_recherche {display:block;}
}


/* VIGNETTES */

@media screen and (min-width:420px) {
	.infos_livre { 	width:412px; }
}

@media screen and (max-width:420px) {
	.infos_livre { 	width:100%; }
}

