@media screen {
	header, footer {
	background-color:#64113F;
	}

		header input, header a, footer input, footer a, footer span {
		border:none;
		background-color:#64113F;
		color:white;
		}
		
		header input:hover, header a:hover, footer input:hover, footer a:hover {
		background-color:#D71E80;
		color:white;
		}
}

.logo a:hover {
	background-color:#64113f;
}
	
.choix, .formulaire {
border-color:#64113F;
margin:auto;
}

.deroul {
border-bottom: solid 1px #64113F;
}
		
		.options select:hover, .chapitres_selection select:hover{
		background-color:#D71E80;
		color:white;
		cursor:pointer;
		}
		
	.chapitres_selection select {
	border:none;
	background-color:white;
	padding:2px;
	}
		
	.chercher {
	background-color:#D71E80;
	border:2px #64113F;
	}

	.resultats_recherche_globale .clair-resumes a {
	color: #AA6EC4; 
	}

	.resultats_recherche_globale .fonce-resumes a {
	color:#64113F; 
	}
	
	.resultats_recherche_globale .noyau-resumes a {
	color:#39093B; 
	}
	
	.resultats_recherche_globale .theorique-resumes a {
	color:#7D45A8; 
	}
	
		.fonce {
		border:1px solid #64113F; 
		}
	
		.fonce .titres, .fonce .titres input, .fonce .titres form {
		background-color:#64113F; 
		}
		
		.clair {
		border:1px solid #AA6EC4; 
		}
	
		.clair .titres, .clair .titres input, .clair .titres form {
		background-color:#AA6EC4; 
		}
		
		.noyau {
		border:1px solid #39093B; 
		}
		
		.theorique {
		border:1px solid #7D45A8; 
		}
	
		.noyau .titres, .noyau .titres input, .noyau .titres form {
		background-color:#39093B; 
		}
		
		.theorique .titres, .theorique .titres input, .theorique .titres form {
		background-color:#7D45A8; 
		}
		
		.origine input {
		left:355px; 
		}
		
			.origine input:hover, .citation2 input:hover {
			color:#D71E80; 
			}
		
.oeuvre {
border:1px solid #64113F;
}

	.oeuvre .titre {
	background-color:#64113F;
	}
	
		
	.oeuvre input{
	background-color:#D71E80; 
	}
		
		.renvoi {
		color:#D71E80; color:#d51079;
		}

	.bouton_final {
	background-color:#D71E80;
	}
	
.clair .titres a:link, .clair .titres a:visited, .noyau .titres a:link, .theorique .titres a:link, .noyau .titres a:visited, .theorique .titres a:visited, .fonce .titres a:link, .fonce .titres a:visited {
 color: white;
 text-decoration: none;
}
