html, body {
 margin: 0;
 padding: 0;
 }
 
body {
 width:100%;
 font-family: Verdana, sans-serif; 
 font-size: 100%;
 }
 
	.container {
	min-height: calc(100vh - 45px);
	}
	
footer {
	margin:auto;
	text-align:center;
	padding:20px;
	height:45px;
}

	footer input {
	border:none;
	font-size:0.9em;
	}
	
		footer input:hover {
		cursor:pointer;
		}

 
.logo {
	margin-top:3px;
}

	.logo img:hover {
		cursor:pointer;
	}
 
@media screen {
	header {
	position: fixed;
	top:0px;
	width:100%;
	z-index:3;
	text-align:center;
	}
	
		header form {
		display:inline-block;
		}
		
			header input, header a {
			font-size:0.9em;
			border-radius : 3px;
			padding:5px;
			}
			
			header input:hover, header a:hover {
			cursor:pointer;
			}
							
				header form input .margin-left, .margin-left {
				margin-left:-15px;
				}
}

@media print {
	header, .formulaire, .bandeau_resultats {
	opacity:0%;
	height:0px;
	color:white;
	}
}
		
.choix {
width:100%;
border-width:0px 0px 2px 0px;
z-index:2;
opacity:1;
}

	.bloc1rechercher {
	text-align:center;
	}

	.formulaire {
	margin-right:auto;
	margin-left:auto;
	z-index:2;
	}
	
		@media screen {
			.formulaire {
			opacity:1;
			}
		}
	
		@media print {
			.formulaire, header, .bandeau_resultats, .navig_citations, .left, .liste_projets {
			opacity:0px;
			color:white;
			}
		}

	.deroul {
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	margin-bottom: 30px;
	padding-bottom: 15px;
	background-color: #F5F5F5;
	border-radius: 5px;
	padding-top:15px;
	}

	.options {
	display:inline-block;
	}
	
		.options select {
		-webkit-appearance: none; 
		-moz-appearance: none;
		appearance: none;
		border-radius:3px;
		width:180px;
		padding:5px;
		margin-top:9px;
		background-color:#F5F5F5;
		border:none;
		text-align:center;
		font-weight:bold;
		}
		
		.options select:hover{
		cursor:pointer;
		}
	
	.chapitres_selection {
	margin-top:10px;
	font-size:0.8em;
	}
	
	.tags {
	margin-top:8px;
	font-size:0.7em;
	}
	
		.tags_globaux {
		background-color:#F5F5F5;
		border-radius:5px;
		}
		
	.chercher {
	border-radius:3px;
	padding:7px;
	margin:10px;
	color:white;
	}
	
		.chercher:hover, .modifier:hover {
		font-weight:bold;
		cursor:pointer;
		}
		
		a.modifier:link, a.modifier:visited {
		color:black;
		font-size:0.8em;
		}
		
			a.modifier:hover, .modifier:hover {
			color:#d51079;
			}
			
			.modifier {
			background-color:white;
			border:none;
			}
	
.corps {
z-index:1;
width:100%;
margin-top:10px;
}

	.corps_modif {
	width:100%;
	}
	
		.modif_projet form input {
		width:200px;
		}
				
		.modif_projet {
		margin:auto;
		}


.resultats_recherche_globale {
margin-bottom:30px;
background-color: #F5F5F5;
border-radius: 10px;
padding: 10px;
break-inside: avoid;
}

	.liste_resultats_resumes {
	font-size:0.8em; 
	column-count:3;
	margin-bottom:30px;
	}
	
.citation, .citation_projets {
text-align:center;
width:100%;
margin-bottom:20px;
}

	.left {
	text-align:left;
	padding-left:20px;
	}
	
	.rehausser {
	margin-top:-25px;
	}
	
	.bandeau_resultats, .modif_projet, .resultats_recherche_globale {
	margin-right:auto;
	margin-left:auto;
	}
	
		@media print {
			.bandeau_resultats {
			opacity:0px;
			height:0px;
			}
		}

	.navig_citations {
	font-size:0.8em;
	text-align:left;
	columns:3 200px;
	margin-bottom:30px;
	}

	.gris {
	color:#777777;
	}
	
	.ref_these {
	display:inline;
	}
	
		.ref_these .infobulle {
		display:inline;
		}
		
		.cite_dans {
		color:#777777;
		font-size:0.8em;
			margin-left:40px;
		}

			.cite_dans_page {
				width:40px;
				height:10px;
			}

			.url_citation {
				height:10px;
			}
	
	.ref_these a {
	background-color:#d51079;
	padding-left:3px;
	padding-right:3px;
	border-radius:3px;
	}
	
		.ref_these a:hover {
		font-weight:bold;
		}
	
		.bouton_panier a {
		font-size:1,5em;
		background-color:white;
		border-radius:0px 0px 4px 0px;
		border:white;
		color:#d51079;
		font-weight:bold;
		padding:5px 7px 5px 5px;
		position:relative;
		left:-5px;
		}
	
			.bouton_panier a:hover, .inline .bouton_panier:hover {
			background-color:#d51079;
			color:white;
			cursor:pointer;
			}

	.infos_livre {
		text-align:left;
		padding:5px;
		background-color:white;
		margin:5px;
		border-radius:5px 5px 5px 5px;
		}

		@media screen {
			.infos_livre {
			display:inline-block;
			height:400px;
			vertical-align:top;
			font-size:0.9em;
			overflow-y:scroll;
			overflow-x:hidden;
			}
		}
		
		@media print {		
			body {
			margin-left:0.5cm;
			}
			
			.citation {
			width:100%;
			margin:auto;
			column-count:3;
			column-gap:40px;
			}
			
			.infos_livre {
			font-size:0.8em;
			border:1px solid black;
			}
			
			.choix {
			opacity:0%;
			}
		}
		
		@page {
		margin:1cm;
		}
	
	.titres, .lien_requete_titre a  {
	position:relative;
	top:-5px;
	left:-5px;
	width:100%;
	}
	
		.titres input, .titres form, .titres, .lien_requete_titre a {
		border-radius:3px 0px 0px 0px;
		padding:8px;
		}
	
	.titres input, .titres form, .titres a {
	font-size:1.1em;
	display:inline-block;
	border:none;
	}
	
	.citation2 {
	display:inline-block;
	width:100%;
	}
	
		.citation2 input {
		background-color:white;
		border:none;
		font-size:0.7em;
		}	
		
			.titres input:hover {
			font-weight:bold;
			cursor:pointer;
			}
	
	.origine, .notes {
	font-size:1em;
	margin-top:8px;
	}
	
		.origine input {
		position:relative;
		top:-5px;
		background-color:white;
		display:inline-block;
		font-size:0.8em;
		border:none;
		}
		
			.origine input:hover, .citation2 input:hover {
			font-weight:bold;
			cursor:pointer;
			}
		
	.tags2, .courant {
	font-size:0.7em;
	}
	
.oeuvre {
border-radius:5px;
padding:10px;
margin-right:auto;
margin-left:auto;
width:900px;
}

	.oeuvre .titre {
	position:relative;
	top:-26px;
	left:-11px;
	width:922px;
	border-radius:5px;
	}
	
		.titre p {
		padding:8px;
		}
		
	.bloc {
	position:relative;
	top:-40px;
	}
		
	.oeuvre input{
	border:none;
	padding:5px;
	border-radius:2px;
	}
		
		.oeuvre input:hover{
		font-weight:bold;
		cursor:pointer;
		}
		
		.renvoi {
		position:relative;
		left:650px;
		}
		
		.modif {
		position:relative;
		left:810px;
		top:-30px;
		}
		
.modif_citation, .modif_oeuvre {
padding:30px;
margin:auto;
}

	.modif_citation_check	{
	padding:30px;
	}

	.bouton_final {
	border:none;
	margin-top:10px;
	margin-bottom:20px;
	font-size:1.1em;
	padding:7px;
	color:white;
	border-radius:3px;
	}
	
		.bouton_final:hover {
		font-weight:bold;
		cursor:pointer;
		}
		
.tags3 {
columns:2;
font-size:0.9em;
}

a:link {
 text-decoration: none;
 color:white;
 }

.infobulle {
	display:inline;
}

.infobulle_symb {
	max-width:15px;
	font-size:9px;
	padding:1px;
	border-color:black;
	border-width: 1px;
	border-radius:50%;
	vertical-align:top;
	background-color:white;
	margin-left:-2px;
}

	.infobulle_symb:hover {
	cursor:pointer;
	}


.i1 {
width:550px;
}

.i2 {
width:20px;
}

.i3 {
width:100px;
}

.presentation mode_d_emploi a, .presentation mode_d_emploi a:visited, .presentation mode_d_emploi p a, .presentation mode_d_emploi p a:visited, .presentation mode_d_emploi .ndbp a, .presentation mode_d_emploi .ndbp a:visited, li a, li a:visited, .left a, .presentation mode_d_emploi .left a:visited {
	color:#d51079;
}
