/*
À modifier éventuellement (utiliser rechercher-remplacer) :
- La couleur principale bandeaux, corpus majoritaire, etc. Ici : #016b79
- La couleur du hors corpus. Ici : #82b4ba
- La couleur du corpus noyau. Ici : #03045E
- La couleur éventuelle du corpus théorique ou intermédiaire. Ici : #1B4363
- La largeur d'écran des pages. Par défaut 912 px (un demi écran d'ordinateur).
*/


/* ARRIÈRE-PLANS */

body {background-color:white;}

/*Couleur principale */

@media screen {

header, footer, header input, header a, footer input, footer a, .logo:hover, .logo a:hover, .fonce .titres, .fonce .titres input, .fonce .titres form, .oeuvre .titre { background-color:#016b79; }

/*Couleurs secondaires*/

.modif_citation, .modif_oeuvre, .modif_projet { background-color:#F5F5F5; }


/* Corpus principal */
.noyau .titres, .noyau .titres input, .noyau .titres form {background-color:#03045E;}

/* Corpus théorique*/
.theorique .titres, .theorique .titres input, .theorique .titres form {background-color:#1B4363;}

/* Hors corpus */
.clair .titres, .clair .titres input, .clair .titres form {background-color:#82b4ba;}



/* BORDURES */
.choix { border-color:#016b79; }

.chercher {border:2px #016b79;}

.deroul {border-bottom: solid 1px #016b79;}

.infos_livre, .oeuvre {border:1px solid #016b79; }

}

	
/* TEXTES */

/* Dans les blocs formulaires de la page d'accueil */

/* Corpus normal */
.resultats_recherche_globale .fonce-resumes a {color:#016b79;}
	
/* Corpus principal */
.resultats_recherche_globale .noyau-resumes a, .noyau_checkbox {color:#03045E;}
	
/* Hors corpus */
.resultats_recherche_globale .clair-resumes a {color: #82b4ba;}


	
/* Textes principaux */

footer, footer input, footer a .texte-header, .oeuvre input, a:link, a:visited, header input, header a, header input:hover, header a:hover, footer input:hover, footer a:hover, .settings  {color: white;} 
	
.liste_resultats_resumes a, .liste_resultats_resumes a:visited {color:black;}


/* Titres de vignettes */

.clair .titres a:link, .clair .titres a:visited, .noyau .titres a:link, .theorique .titres a:link, .noyau .titres a:visited, .theorique .titres a:visited, .fonce .titres a:link, .fonce .titres a:visited, .titre {
 color: white;
 text-decoration: none;
}
