@media screen {
		
		header input, header a, footer input, footer a {
		border:0px solid #5d3148;
		}
		
		header input:hover, header a:hover, footer input:hover, footer a:hover {
		background-color:#d51079;
		}
}


.settings {
	font-size:1.2em;
}

.a-propos {
	font-size:1.2em;
	font-weight:bold;
}
		
		.options select:hover{
		background-color:#d51079;
		color:white;
		}
		
	.chercher {
	background-color:#d51079;
	}
	
		.origine input {
		left:355px;
		}
		
			.origine input:hover, .citation2 input:hover {
			color:#d51079;
			}
		
	.oeuvre input{
	background-color:#d51079;
	}
		
		.renvoi {
		color:#d51079;
		}

	.bouton_final {
	background-color:#d51079;
	}

