.corps_projets {
	width:100%;
}

	.projets {
	font-size:0.8em;
	}

	.liste_projets {
	font-size:90%;
	}
	
	.citation_projets {
	margin-top:20px;
	display:inline-block;
	}
	
	.inline {
	display:inline-block;
	}
	
	.supprimer select {
	width:250px;
	background-color:white;
	border-radius:4px;
	}
	
	.supprimer .discret, .discret input {
	font-size: 0,8em;
	background-color:white;
	border:none;
	border-radius:3px;
	}
	
		.discret:hover, .discret input:hover {
		background-color: #d51079;
		cursor:pointer;
		color:white;
		}
